@import url('https://fonts.googleapis.com/css2?family=Exo:ital@0;1&display=swap');

:root{
    --main-color: #00eeff;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --color-00: #0000001a;

    --color--01:#999999;
    --color--02:#ee3554;
    --color--03:#b4001e;
    --color--04: #f5f5f5
    --color-03:#7950f2;
    --color-04:#c00000;
    -color-05: #232323;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html{
  font-family: "Exo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;

}

body{
    background-color: var(--bg-color-01); 
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--bg-color-01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
    /*border: solid 1px var(--color--02)*/
}

.obrigado-contato h2{
    color: var(--color--02);
    font-size: 2.0rem;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    text-align: center;
}

.obrigado-contato p {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    text-align: center; 
}

.obrigadoctt {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    text-align: center; 
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background: var(--color--02);
    border: 2px solid var(var(--color--02));
    border-radius: 40px;
    box-shadow: 0 0 10px var(--color--02);
    font-size: 16px;
    color:#232323;
    font-weight: 600;
    transition: .5s;
    margin-top: 1.5rem;
}

.btn:hover{
    background: transparent;
    color: var(--color--02);
    box-shadow: none;
}