
@import url('https://fonts.googleapis.com/css2?family=Exo:ital@0;1&display=swap');

:root{
    --main-color: #00eeff;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --color-00: #0000001a;

    --color--01:#999999;
    --color--02:#ee3554;
    --color--03:#b4001e;
    --color--04: #f5f5f5
    --color-03:#7950f2;
    --color-04:#c00000;
    -color-05: #232323;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html{
  font-family: "Exo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;

}

body{
    background-color: var(--bg-color-01); 
    color: var(--text-color);
}

#home{
    background-color: #1c1f27;
}

#about {
    background-color: #1f242d; 
}

#services {
    background-color: #242933; 
}

#portifolio {
    background-color: #1f242d;
}

#contact {
    background-color: #1c1f27;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--bg-color-01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
    /*border: solid 1px var(--color--02)*/
}

.logo{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.nav-responsive{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-color-02);
}

.nav a, .nav-responsive a{
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;

    /*border: solid 1px var(--color--02);*/
}

.nav a:hover, .nav-responsive a:hover{
    color: var(--color--02);
}

/*section {
    min-height: 100vh;
    padding: 6rem 6rem 2rem;

    border: solid 1px var(--color--02)
}*/
span{
    color: var(--color--02);
}

.home-content h3{
    margin-top: 20px;
}

.home-content p{
    margin-top: 20px;
}

.home-content .btn-cv{
    display: flex;
    align-items: center;
}

.home-content, .about-content{
    width: 100%;
 }

 .home-content p, .about-content p, .services-container p{
    margin-top: 1.2rem;
    text-align: justify;
 }

.btn{
    display: inline-block;
    padding: 10px 30px;
    background: var(--color--02);
    border: 2px solid var(var(--color--02));
    border-radius: 40px;
    box-shadow: 0 0 10px var(--color--02);
    font-size: 16px;
    color:#232323;
    font-weight: 600;
    transition: .5s;
}

.btn:hover{
    background: transparent;
    color: var(--color--02);
    box-shadow: none;
}

.btn-cv {
    margin-top: 25px;
 }

.social-midia{
    margin-left: 15px;
}

.home-content .btn-cv .social-midia a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid var(--color--02);
    border-radius: 50%;
    font-size: 20px;
    color: var(--color--02);
    margin: 0 8px;
    transition: .5s;
}

.home-content .btn-cv .social-midia a:hover{
    background: var(--color--02);
    color: #232323;
    box-shadow: 0 0 10px var(--color--02);
}

.home, .about {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
}


.home-img .img-box{
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: conic-gradient(transparent, transparent, 
    transparent, var(--color--02) );
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after{
    animation-delay: -5s;
}

@keyframes rotate-border{
    100%{
        transform: rotate(360deg);
    }

}

.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bg-color-01);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img{
    position: absolute;
    top: -51px;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.services h2,
.portifolio h2,
.contact h2{
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.services-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 4rem;
    margin-top: 140px;
    text-align: justify;
}

.services-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
    margin-bottom: 4rem;
}

.services-container .services-box:hover{
    border-color: var(--color--02);
}



.services-box i{
    font-size: 4.3rem;
    color: var(--color--02);
}

.services-box h3{
    font-size: 1.5rem;
    margin-top: 50px;
}

.services-container .services-box {
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem #242933;
    background-color: var(--bg-color-02);
    transition: 0.5s ease;
    max-width: 480px;
    max-height: 840px; 
    overflow-y: auto; 
}

.services-box p {
    height: 160px; 
    overflow: hidden; 
    position: relative;
    transition: height 0.8s ease; 
}

.services-box p::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: linear-gradient(
        rgba(50, 57, 70, 0),      
        rgba(50, 57, 70, 0) 20%,  
        rgba(50, 57, 70, 1) 100%, 
        rgba(50, 57, 70, 1)      
    );
    transition: opacity 0.3s ease;
}

.services-box p.active {
    height: auto !important; 
    min-height: 215px; 
    white-space: normal; 
}

.services-box p.active::before {
    opacity: 0; 
}

.btn-ql{
    display: inline-block;
    padding: 10px 30px;
    background: var(--color--02);
    border: 2px solid var(var(--color--02));
    border-radius: 40px;
    box-shadow: 0 0 10px var(--color--02);
    font-size: 16px;
    color:#232323;
    font-weight: 600;
    margin-top: 40px;
    transition: .5s;
}

.btn-ql:hover{
    background: transparent;
    color: var(--color--02);
    box-shadow: none;
}

.portifolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem; 
    margin-top: 140px;
}

.portifolio-box {
    position: relative;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem var(--bg-color-01);
    overflow: hidden;
}

.portifolio-box img {
    width: 100%;
    transition: 0.5s ease;
}

.portifolio-box img:hover {
    transform: scale(1.1);
}

.portifolio-box .portifolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, var(--color--03));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(30rem);
    transition: 0.6s ease;
}

.portifolio-box:hover .portifolio-layer {
    transform: translate(0);
}

.portifolio-layer p {
    font-size: 0.2rem 0 0.5rem;
    margin-top: 30px;
}

.portifolio-layer h4 {
    font-size: 1.8rem;
}

.portifolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 50%;
    margin-top: 30px;
}

.portifolio-layer a i{
    font-size: 1.2rem;
    color: var(--bg-color-02);
}


form {
    max-width: 45rem;
    margin: 0.6rem auto;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 80px;
}

form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .input-box input, form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--bg-color-02);
    border-radius: 0.5rem;
    margin: 0.4rem 0;
}

form textarea {
    resize: none;
}

form .btn {
    display: inline-block;
    padding: 10px 30px;
    background: var(--color--02);
    border: 2px solid var(var(--color--02));
    border-radius: 40px;
    box-shadow: 0 0 10px var(--color--02);
    font-size: 16px;
    color:#232323;
    font-weight: 600;
    transition: .5s;
    cursor: pointer;
}

form .btn:hover {
    background: transparent;
    color: var(--color--02);
    box-shadow: none;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--bg-color-01);
}

.about-content h3{
    margin-top: 27px;
    color: var(--color--02)
}

.menu-hamburguer{
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3{
    width: 2rem;
    height: 0.3rem;
    background-color: var(--text-color);
    margin: 0.4rem 0;
    transition: 0.3s ease;
}

.change .bar1{
    transform: translate(0, 0.65rem) rotate(-45deg);
}
.change .bar2{
    opacity: 0;
}
.change .bar3{
    transform: translate(0, -0.65rem) rotate(45deg);
}

@media(min-width: 0px){
    .menu-hamburguer{
        display: block;
    }

    .nav{
        display: none;
    }

    .nav-responsive a{
        display: block;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    section{
        padding: 6rem 2.5rem;
    }

    .home, .about{
        flex-direction: column;
        gap: 1.3rem;
    }

    .home-img, .about-img{
        width: 80%;
        max-width: 80%;
        margin-left: 160px
    }

    .home-content, .about-content{
        width: 100%;
    }

    .home-content div{
        text-align: center;
    }

    .home-content h1, .about-content h1{
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3;
    }

    .services-container{
        flex-direction: column;
        align-items: center;
    }

    .services-box{
        width: 100%;
    }

    .portifolio-container{
        grid-template-columns: auto auto;
        gap: 1rem;
        margin-top: 5rem;
    }

    header{
        background-color: var(--color--02);
    }
}

@media (min-width: 576px){

    .home-img, .about-img{
        width: 65%;
        max-width: 65%;
    }

    .services-box{
        width: 70%;
    }

    .portifolio-container{
        grid-template-columns: auto auto;
        gap: 2rem;
        margin-top: 5rem;
    }

    header{
        background-color: #ee3554;
    }
}

@media (min-width: 768px){

    .menu-hamburguer{
        display: none;
    }

    .nav{
        display: block;
    }

    .nav-responsive, .nav-responsive a{
        display: none;
    }

    .home, .about{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .home-img, .about-img{
        max-width: 35%;
    }

    .home-content, .about-content{
        width: 60%;
        margin-bottom: 2rem;
    }

    .services-box{
        width: 100%;
    }

    .portifolio-container{
        grid-template-columns: auto auto;
        gap: 4rem;
        margin-top: 6rem;
    }

    form .input-box input{
        width: 49%;
    }

    header{
        background-color: var(--color--02);
    }

}

@media (min-width: 992px){

    .home-img .about-img{
        max-width: 35%;
    }

    .services-container{
        flex-direction: row;
        gap: 1.2rem;
    }

    header{
        background-color: var(--color--02);
    }
}

@media (min-width: 1200px){

    .home-img .about-img{
        max-width: 25%;
    }

    .home-content h1{
        font-size: 2.7rem;
    }

    .home-content h3{
        font-size: 2rem;
    }
    
    header{
        background-color: var(--color--02);
    }
}